<a href="https://colab.research.google.com/github/kikiru328/Programmers/blob/main/00_Lv1_%EC%A7%81%EC%82%AC%EA%B0%81%ED%98%95_%EB%B3%84%EC%B0%8D%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 설명

이 문제에는 표준 입력으로 두 개의 정수 n과 m이 주어집니다.
별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력해 보세요

- 제한조건
    - n과 m은 각각 1000 이하인 자연수입니다.

- 예시

```
input :
5 3
result :
*****
*****
*****
```

Solution

In [1]:
a, b = map(int, input().strip().split(' '))
print((a * '*' + '\n') * b)

5 3
*****
*****
*****

Solve

1. map 함수



```
map(function, iterable)
# fucntion을 iterable 객체에 적용
```