<a href="https://colab.research.google.com/github/kikiru328/Study_Programmers/blob/main/06_Lv1_%EC%BD%9C%EB%9D%BC%EC%B8%A0_%EC%B6%94%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 설명

1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.



```
1-1. 입력된 수가 짝수라면 2로 나눕니다. 
1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.
```

예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야하는지 반환하는 함수, solution을 완성해 주세요. 단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.


- 제한조건
    - 입력된 수, num은 1 이상 8000000 미만인 정수입니다.

- 예시

```
n	     result
6	      8 
16	     4
626331	-1
```

입출력 예 #1
문제의 설명과 같습니다.

입출력 예 #2
16 -> 8 -> 4 -> 2 -> 1 이되어 총 4번만에 1이 됩니다.

입출력 예 #3
626331은 500번을 시도해도 1이 되지 못하므로 -1을 리턴해야합니다.

Solution

In [1]:
def solution(num):
    i = 0
    while(1):
        if i >= 500 :
            return  -1
        
        if num == 1 :
            return i 
        
        if  num % 2 == 0 :
            num /=  2
            i += 1
        else:
            num = (num * 3) + 1
            i += 1

Solve

1. while문 최종값이 1이 나올 때 까지 반복
2. 이후 조건 적용