<a href="https://colab.research.google.com/github/kikiru328/Study_Programmers/blob/main/04_Lv1_%ED%95%98%EC%83%A4%EB%93%9C_%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 설명

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

- 제한조건
    - x는 1 이상, 10000 이하인 정수입니다.

- 예시

```
arr	return
10	true
12	true
11	false
13	false
```
입출력 예 #1
10의 모든 자릿수의 합은 1입니다. 10은 1로 나누어 떨어지므로 10은 하샤드 수입니다.

입출력 예 #2
12의 모든 자릿수의 합은 3입니다. 12는 3으로 나누어 떨어지므로 12는 하샤드 수입니다.

입출력 예 #3
11의 모든 자릿수의 합은 2입니다. 11은 2로 나누어 떨어지지 않으므로 11는 하샤드 수가 아닙니다.

입출력 예 #4
13의 모든 자릿수의 합은 4입니다. 13은 4로 나누어 떨어지지 않으므로 13은 하샤드 수가 아닙니다.

Solution

In [1]:
def solution(x):
    return x % sum(int(i) for i in str(x)) == 0

solution(10)

True

Solve

1. 자리수의 숫자를 문자로 교체
2. 문자를 다시 숫자로 변환하여 총합을 구함
3. 원래 수에 나누어 나머지가 없으면 True