<a href="https://colab.research.google.com/github/kikiru328/Study_Programmers/blob/main/Lv1/11_Lv1_%EC%A0%95%EC%88%98_%EB%82%B4%EB%A6%BC%EC%B0%A8%EC%88%9C%EC%9C%BC%EB%A1%9C_%EB%B0%B0%EC%B9%98%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 설명

함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.


- 제한조건
    - n은 1이상 8000000000 이하인 자연수입니다.
- 예시

```
n	     return
118372	873211
```

Solution

In [ ]:
def solution(n):
    a = list(str(n))
    a.sort(reverse=True)
    return int(''.join(a))

Solve

1. 행렬.sort(key)