<a href="https://colab.research.google.com/github/kikiru328/Study_Programmers/blob/main/Lv1/12_Lv1_%EC%9E%90%EC%97%B0%EC%88%98_%EB%92%A4%EC%A7%91%EC%96%B4_%EB%B0%B0%EC%97%B4%EB%A1%9C_%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 설명

자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.


- 제한조건
    - n은 10,000,000,000이하인 자연수입니다.
- 예시

```
n	    return
12345	[5,4,3,2,1]
```

Solution

In [ ]:
def solution(n):
    a = []
    b = reversed(str(n))
    for i in b:
        a.append(int(i))
    return a

Solve

1. func reversed(string)
2. reversed사용시 string을 반대로