<a href="https://colab.research.google.com/github/kikiru328/Study_Programmers/blob/main/Lv1/13_Lv1_%EC%9E%90%EB%A6%BF%EC%88%98_%EB%8D%94%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 설명

자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.


- 제한조건
    - N의 범위 : 100,000,000 이하의 자연수
- 예시

```
N	  answer
123	6
987	24
```
입출력 예 설명
입출력 예 #1
문제의 예시와 같습니다.

입출력 예 #2
9 + 8 + 7 = 24이므로 24를 return 하면 됩니다.

Solution

In [ ]:
def solution(n):
    return sum(int(i) for i in str(n))

Solve

1. 변환된 string은 행렬값으로 변환이 가능
2. for 문으로 원소값 추출